{% extends "layout.html" %}

{% block heading %}
    First page
{% endblock %}

{% block body %}
    <form action="{{ url_for('hello') }}" method ="post">
        <input type ="text" name = "name" placeholder = " Enter Your Name">
        <button>Submit</button>
    </form>
{% endblock %}






































<!-- <!DOCTYPE html>
<html>
    <head>
        <title>my website!</title>
    </head>
    <body>
        <h1>First Page</h1>
        <p>
            hello welcome to MSIT....!
        </p>
        <a href="{{url_for('more')}}">for more info....</a>
    </body>
</html>
<!-- <!DOCTYPE html>
<html>
    <head>
        <title>my website!</title>
    </head>
    <body>
        <h1>Names</h1>
        <ul>
            {% for name in names %}
                <li>{{name}}</li>
            {% endfor%}
        </ul>
    </body>
    </html>
    <!-- <head>
        <title>is it new year?</title>
    
    <style>
        body {
            text-align:center;
        }
    </style>
    </head>
    <body>
       {% if new_year %}
        <h1>yes ! Happy New Year!</h1>
           
       {% else %}}
        <h1>NO</h1>
       {% endif %}
       </body>
</html> --> --> -->
